<!-- your html code here -->
<div class="container-fluid">
    <div>
        <h2><strong>Contact</strong></h2>
        <p>Lorem ipsum dolor sit amet. Aut molestiae accusamus non molestiae maxime ab reprehenderit excepturi? Sit sint
            neque id nobis distinctio vel neque voluptatibus.</p>
    </div>


    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" id="staticEmail" placeholder="Your E-mail">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label"><strong>Password</strong></label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>

        <!-- Poner un boton!! -->
    </div>


</div>