<div class="row">
<div class="card mb-3"  style="flex-direction: row-reverse; align-items: center; margin: auto;">
    <div class="col-md-8">
      <div class="card-body" style="margin-top: -150px; margin-left: 30px;">
        <h2><span style="color: black">This First Heading </span><span style="color: grey"> Will Catch Your Eye<span></h1>
        <p class="card-text" style="color: dimgray; font-family: Arial, Helvetica, sans-serif; font-weight: 30px; text-align: justify;">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. </p>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/website/assets/img/2.jpg" class="rounded-circle" width="320px" height="320px">
      </div>
  </div>
</div>
</div>